body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  color: white;
  font-size: 1.2em;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

#container {
  padding-top: 40px;
  width: 100%;
}

div {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  text-align: center;
}

p#tagline {
  position: relative;
  z-index: 2;
  color: rgba(255,255,255,.6);
  margin: 12px 0px 0px 0px;
}

.login-buttons {
  position: relative;
  /*top: 120px;*/
}

#google-signin {
  position: relative;
  z-index: 2;
  background-image: url('./../assets/btn_google_signin_light_normal_web@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 191px;
  padding-top: 46px;
  margin-top: 12px;
}

#google-signin:hover {
  background-image: url('./../assets/btn_google_signin_light_pressed_web@2x.png');
  cursor: pointer;
}

#google-signin {
  position: relative;
  z-index: 2;
  background-image: url('./../assets/btn_google_signin_light_normal_web@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 191px;
  padding-top: 46px;
  margin-top: 12px;
}


#facebook-signin {
  position: relative;
  z-index: 2;
  height: 25px;
  width: 180px;
  font-weight: bold;
  text-align: right; 
  vertical-align: middle;
  background-size: 35px 35px;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  padding-right: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-top: 10px;
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url('./../assets/facebook-icon.png');
}

#facebook-signin:hover {
  color: #CCC;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}

.samurai {
  position: relative;
  z-index: 2;
  opacity: .8;
  max-height: 100px;
}

.tiny-link {
  position: relative;
  z-index: 2;
  font-size: .7em;
  padding: 0px 12px 0px 0px;
}

h1, p {
  position: relative;
  z-index: 2;
  margin: 0px 0px;
}

#footer {
  z-index: 2;
  font-size: .6em;
  color: rgba(255, 255, 255, 0.6);
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.signature {
  color: white;
}
